<app-header style="width: max-content;"></app-header>
<mat-sidenav-container class="example-container">
    
  <mat-sidenav #rightSidenav mode="over" [(opened)]="opened" (opened)="mySideNavList.push('open!')"
    (closed)="mySideNavList.push('close!')">
    <button mat-button [matMenuTriggerFor]="userMenu">User Menu</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Login</button>
      <button mat-menu-item>Registration</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="dailyExpense">Expense Menu</button>
    <mat-menu #dailyExpense="matMenu">
      <button mat-menu-item>Add Expense</button>
      <button mat-menu-item>Delete Expense</button>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content >
    <p>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
    </p>
    
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of mySideNavList">{{e}}</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>